<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil do colaborador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="medium">
  <div *ngIf="isLoading" class="flex justify-center items-center w-full h-full">
    <ion-spinner color="primary"></ion-spinner>
  </div>


  <ion-list *ngIf="!isLoading" class="bg-transparent">
    <div>
      <ion-item class="custom" slot="header" color="transparent">
        <div class="image-collaborator">
          <ion-img class="image-collaborator-img"
            src="https://img.freepik.com/fotos-premium/pessoa-de-visao-frontal-com-cabelo-curto_23-2148749599.jpg"
            alt="Imagem do colaborador"></ion-img>
        </div>

        <div class="mt-24 h-32 flex justify-center items-center w-full bg-white">
          <div class="text-black">
            <ion-label class="font-bold">{{ sections[0].cardItems[0].data.employeeName }}</ion-label>
            <ion-label>{{ sections[0].cardItems[0].data.jobName }}</ion-label>
          </div>
        </div>
      </ion-item>
    </div>

    <div>
      <ion-accordion-group>
        <ion-accordion value="first" toggleIcon="caret-down" toggleIconSlot="start">
          <ion-item slot="header" color="light">
            <ion-label>Dados de identificação</ion-label>
          </ion-item>
          <div class="ion-padding flex flex-col mx-4 mb-2" slot="content">
            <ion-label class="text-slate-700 mt-1">Admissão na empresa</ion-label>
            <ion-label class="text-black font-bold">{{ sections[0].cardItems[0].data.companyAdmissionDate }}</ion-label>

            <ion-label class="text-slate-700 mt-1">Data de nascimento</ion-label>
            <ion-label class="text-black font-bold">{{ sections[0].cardItems[0].data.birthDate }}</ion-label>

            <ion-label class="text-slate-700 mt-1">Celular</ion-label>
            <ion-label class="text-black font-bold">{{ sections[0].cardItems[0].data.cellphoneNumber }}</ion-label>

            <ion-label class="text-slate-700 mt-1">Email</ion-label>
            <ion-label class="text-black font-bold">{{ sections[0].cardItems[0].data.email }}</ion-label>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </div>

  </ion-list>


  <!--     <ion-accordion-group>
      <ion-accordion *ngFor="let section of sections; let i = index" [value]="i">
        <ion-item slot="header" color="light">
          <ion-label>{{ section.cardItems[0].data.employeeName }}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">First Content</div>
      </ion-accordion>
    </ion-accordion-group> -->
</ion-content>