<ion-split-pane contentId="main-content">
  <ion-menu contentId="main-content" type="overlay">
    <ion-content>
      <ion-list id="inbox-list">
        <ion-list-header><strong>Curriculo app</strong></ion-list-header>
        <ion-item routerLink="/menu/collaborator">
          <ion-icon name="people-sharp" color="primary"></ion-icon>
          <ion-label class="mx-2">Perfil do colaborador</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>